#adContainer {
    background: white;
    box-shadow: 10px 10px 20px black;
    width: 23rem;
    height: auto;
    min-height: 25rem;
    border: solid 1px rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 5px;
    margin: 1rem 1rem 1rem 1rem;
    
}
#heading {
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
}
#adImg {
    max-width: 100%;
    max-height: 15rem;
    height: auto;
}
#adText {
    margin-top: 1rem;
    line-height: 1.5rem;
}
#btn {
    float: right;
    color: white;
    border: solid 2px rgb(0, 184, 34);
    border-radius: 5px;
    min-width: 4rem;
    width: auto;
    height: 2.8rem;
    padding: 5px 10px 5px 10px;
    margin: 1rem 0rem .5rem 1rem;
}

#btn:hover {
    color: rgb(0, 184, 34);
    cursor: pointer; 
    transform: scale(1.1, 1.1);
    transition: .3s;
}