#outOfOrderOne {
    margin-top: 35vh;
    font-size: 6.5vw;
    color:red;
    text-align: center;
}
#outOfOrderTwo {
    margin-top: 2rem;
    font-size: 1.9vw;
    text-align: center;
}
#outOfOrderThree {
    margin-top: 1rem;
    font-size: 1.3vw;
    text-align: center;
}
#mailTo {
    cursor: pointer;
    color: rgb(33, 220, 20);
}
#updateBtnContainer {
    margin-top: 2rem;
}