#errorViewContainer {
    text-align: center;
    padding: 3rem;
}
#cryingEye {
    margin: 2rem;
}
#textSorry {
    font-size: 6rem;
}
#updateButton {
    font-size: 1.5rem;
    color: white;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 5px;
    width: auto;
    height: 4rem;
    padding: 5px 15px 5px 15px;
    margin: 0.5rem 1rem .5rem 1rem;
}
#updateButton:hover {
    transform: scale(1.2, 1.2);
    transition: .3s;
    border: solid 2px rgb(0, 255, 26);
}
#homeBtn {
    color: white;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 5px;
    width: auto;
    height: 3rem;
    padding: 5px 15px 5px 15px;
    margin: 0.5rem 1rem .5rem 1rem;
}
#homeBtn:hover {
    transform: scale(1.2, 1.2);
    transition: .3s;
    border: solid 2px rgb(0, 255, 26); 
}

#contentTextOne {
    margin-bottom: 2rem;
}

#contentTextTwo {
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.contentTextThree {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#mailTo {
    cursor: pointer;
    color: rgb(33, 220, 20);
}