#browser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    color: white;
    width: 70%;
    height: auto;
}

#menu {
    color: white;
    width: 30%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.colOne {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.colTwo {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3
}