*{
    margin: 0px;
    background-color: #4d5059;
    font-family:Arial, Helvetica, sans-serif;
}

.bg-transp {
    background-color: transparent;
}

.text-black {
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.colOne {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.colTwo {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3
}