#browser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    color: white;
    width: 70%;
    height: auto;
}

#menu {
    color: white;
    width: 30%;
}