canvas{
    background-color: aliceblue;
}

#container{
    display: flex;
    margin: 1.5rem 1.5rem 8rem 1.5rem;
}

#panelContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.inputlabel {
    padding: 0px 3px 0px 3px;
    position: absolute;
    background-color: #4d5059;
    font-size: small;
    margin-left: 23px;
}
